<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block titulo %}{% endblock titulo %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.min.css">
        <!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/unsemantic-grid-responsive-tablet.css">-->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">

        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header class="cabecera">
            <div class="container">
                <div class="row">
                <div class="span4">
                    <h1><a href="/">CODEWEB</a></h1>
                </div>
                <nav class="span8">
                    <ul>
                        <li><a href="/cursos/">Cursos</a></li>
                        <li><a href="/seminarios/">Seminarios</a></li>

                    {% if user.is_authenticated %}
                        <li><a href="/{{user}}/">Mi Perfil</a></li>
                        <li class="login">
                            <a title="" alt="" href="/cerrar/">Cerrar Session</a>
                            <span class="inferior"></span>
                        </li>
                    </ul>
                </nav>
                    {% else %}
                        <li><a title="" alt="" href="/registrar">Crear cuenta</a></li>
                        <li class="login">
                            <a title="" alt="">Login</a>
                        </li>
                    </ul>
                </nav>
                    <a class="x_cerrar login" style="display: none;float:right; margin-left: 5px;">X</a>
                    <form action="/loginto/" method="POST" style="display: none; margin: 0; float:right">
                    {% csrf_token %}
                        <input type="text" name="username" placeholder="Usuario">
                        <input type="password" name ="password" placeholder="Contraseña">
                        <input type="text" name="anterior" value="{{request.path}}" hidden>
                        <input class="login" type="submit" value="Login">
                    </form>
                    {% endif %}
                </div>
            </div>
        </header>

        {% block presentacion %}
            
        {% endblock presentacion %}

        {% block perfil %}
            
        {% endblock perfil %}

        <div class="container">
            <br>

        {% block cursos_inicio %}
            
        {% endblock cursos_inicio %}

        {% block formulario %}
            
        {% endblock formulario %}

        {% block promocion %}
            
        {% endblock promocion %}

        {% block mapa %}
            
        {% endblock mapa %}

        {% block perfil_mas %}
            
        {% endblock perfil_mas %}

        </div>

        <section class="footer_nav">

        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="codeweb span6">
                        CodeWeb 2013
                    </div>
                    <div class="qaysen span6">
                        Qaysen 2013
                    </div>
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="{{STATIC_URL}}js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
