<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block titulo %}{% endblock titulo %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href="http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">

        <script type="text/javascript" src="//use.typekit.net/ynr5uqj.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <aside class="oferta">
            <a href="http://skinnyties.com/offers/">
                <div class="centrar">
                    <div class="titulo">Oferta</div>

                    <div class="descripcion">
                        <span>{% block encabezado %}{% endblock %}</span>
                    </div>
                </div>
            </a>  
        </aside>

        <header class="cabecera ">
            <h1>< CODEWEB ></h1>
            <nav class="derecha">
                <ul>
                    <li><a title="" alt="" href="/cursos/">Cursos</a></li>
                    <li><a title="" alt="" href="">Lugar</a></li>
                    <li><a title="" alt="" href="/registrar">Crear cuenta</a></li>
                    <li class="login">
                        <a title="" alt="" href="">Login</a>
                        <span class="inferior"></span>
                    </li>
                </ul>
            </nav>
        </header>

        <section class="presentacion shadow_bottom">
            <div class="bienvenida">
                <h2>Aprende mucho, gastando poco.</h2>
                <p>Te ayudamos a formarte como un buen profesional en el diseño y desarrollo web. Contamos con profesionales que trabajan dia a dia en perfeccionar sus habilidad y les transmitiran todo ese conocimiento.</p>
                <a href="/cursos/">Mira nuestros cursos <i class="flecha"></i><span class="inferior"></span>
                </a>
            </div>
            <div class="foto">
                <img width="500" height="360" src="http://www.webdevelopmentgroup.com/wp-content/uploads/2013/02/slidehalf-evolve.png" class="attachment-slideshow wp-post-image" alt="slidehalf-evolve">
            </div>
            <span class="inferior"></span>
        </section>

        <section class="mas_info">
            <p><img src="http://londoncyn.ca/wp-content/themes/cyn_public/img/twitter_logo.png" alt="Twitter Logo">Cursos presenciales en Trujillo, Perú. Tambien encuentra cursos online totalmente gratis.</p>
            <span class="color" style="height: 5px;"></span>
        </section>


       <section class="cursos inicio">

            {% block cursoabierto %}
            {% endblock cursoabierto %}
            
        </section> 

        <div class="promocion">
            <h3><i class="icon-comment" style="margin-top:5px"></i> Registrate y obten gratis un curso online. <a href="http://netjelly.com/plans/">Ingresa y mira lo que tenemos para ti!</a>.</h3>
            <span class="inferior"></span>
        </div>

        <footer>
            <div class="contenedor">
                <div class="codeweb izquierda">
                    CodeWeb.pe 2013
                </div>
                <div class="qaysen derecha">
                    Qaysen 2013
                </div>
            </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="{{STATIC_URL}}js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
