{% extends "base2.html" %}

{% block titulo %}
Cursos de Code Web
{% endblock titulo %}

{% block presentacion %}
        <section class="presentacion">
            <div class="bienvenida titulo">
                <h2>Mira todos los cursos que tenemos para ti!</h2>
            </div>
            
        </section>
{% endblock presentacion %}

{% block mas_info %}

{% endblock mas_info %}

{% block cursos_inicio %}
    <section class="cursos general">
        <div class="filtros">
            <legend>Filtrar</legend>
            
            <ul>
                Categorias:
                {% for categoria in categorias %} 
                <li><input class="filtro filtro-cat" type="checkbox" value="{{categoria.nombre}}"> {{categoria.nombre}}</li>
                {% endfor %}

                Lugares:
                {% for lugar in lugares %} 
                <li><input class="filtro filtro-cat" type="checkbox" value="{{lugar}}"> {{lugar.distrito}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="lista_cursos">
            {% for protocurso in protocurso %} 
            <article>
                <img src='{{MEDIA_URL}}{{protocurso.archivo_url}}' width="100">
                <div class="informacion_curso">
                    <h3><a href="/cursos/{{protocurso.slug}}/">{{protocurso.nombre}}</a></h3>
                    <p>{{protocurso.descripcion}}</p>                 
                </div>
                <div class="fondito">
                     <span>{{protocurso.tipo}}</span>
                    <span class="inferior"></span>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>  
{% endblock cursos_inicio %}