{% extends "base.html" %}
{% block titulo %}
Cursos
{% endblock titulo %}

{% block encabezado %}
Cursos Abiertos
{% endblock encabezado %}

{% block contenido %}

<div>
    <table >
        <tr>          
          
          <th>Curso</th>
          <th>Fecha de inicio</th>
          <th>Descripcion</th>
          <th>Url_imagen</th>
        </tr>

    {% for curso in cursos_ab %} 
        <tr>          
          <td><a href="/cursos/{{curso.id}}">{{curso.curso}}<a></td>
          <td>{{curso.fecha_inicio}}</td>
            {% for item in cursos %}
              {% if item.id == curso.curso_id %} 
                 <td>{{item.descripcion}}</td>
                 <td>{{item.url_imagen}}</td>
              {% endif %}
           {% endfor %}  



        </tr>
         
    {% endfor %}

    </table>
  </div> 

{% endblock contenido %}