{% extends "base2.html" %}

{% block titulo %}
Cursos de Code Web
{% endblock titulo %}

{% block presentacion %}
        <section class="presentacion sombra_inferior">
            <div class="bienvenida titulo">
                <h2>Mira todos los cursos que tenemos para ti!</h2>
            </div>
        </section>
{% endblock presentacion %}

{% block mas_info %}
        <section class="mas_info sombra_inferior">
            <ul>
                <li><a href="#paquetes">Paquetes</a></li>
                <li><a href="#todos">Todos</a></li>
                <li><a href="#lugars">Lugares</a></li>
                <li><a href="#presenciales">Presenciales</a></li>
                <li><a href="#online">Online</a></li>
            </ul>
            <span class="inferior" style="height: 5px;"></span>
        </section>
{% endblock mas_info %}

{% block cursos_inicio %}
    <section class="cursos inicio">
        Cursos que dictamos
    </section>  
{% endblock cursos_inicio %}