{% extends "base2.html" %}

{% block titulo %}
Cursos de Code Web
{% endblock titulo %}

{% block presentacion %}
        <section class="presentacion">
            <div class="container">
                <div class="row">
                    <div class="titulo bienvenida">
                        <h2>Mira todos los seminarios que tenemos para ti!</h2>
                    </div>
                </div>
            </div>
        </section>
{% endblock presentacion %}

{% block mas_info %}

{% endblock mas_info %}

{% block cursos_inicio %}

    <section class="cursos">
        <div class="row">
            <div class="span6">
                <legend>{{mismo|capfirst}}</legend>
                <p>No te olvides que tambien contamos con algunos {{tipo}} en los cuales puedes participar.</p>
                <p>Encuentralos en <a href="/{{tipo}}/">{{tipo|capfirst}}.</a> </p>
                <br>
            </div>
            <div class="lista_cursos span6">
                {% for curso in cursos %}
                <article>
                    <div class="row">
                    <div class="span2">
                        <img src='{{MEDIA_URL}}{{curso.protoCurso.archivo_url}}'>
                    </div>
                    <div class="span4">
                        <h3><a href="/{{mismo}}/{{curso.protoCurso.slug}}">{{curso.protoCurso.nombre}}</a></h3>
                        <p>{{curso.protoCurso.descripcion}}</p>
                        <p class="hidden-tablet">{{curso.fecha_inicio}}</p>
                        <input value="{{curso.id}}" hidden>
                    </div>
                    <button class="inscribete span6" href="/inscribirse/">Inscribete</button>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </section>  
{% endblock cursos_inicio %}
