{% extends "base.html" %}
{% block titulo %}
Cursos
{% endblock titulo %}

{% block encabezado %}
Cursos Abiertos
{% endblock encabezado %}

{% block contenido %}

<div>
           
          <div>Curso: {{curso_ab.curso}}</div>
          <div>Profesor: {{curso_ab.profesor}}</div>
          <div>Descripcion: {{curso.descripcion}}</div>
          <div>URL_imagen: <img src='{{MEDIA_URL}}{{curso.archivo_url}}'></div>
          <div>Lugar: {{curso_ab.lugar}}    </div>     
          <div>Fecha de inicio: {{curso_ab.fecha_inicio}}</div>
          <div>Fecha de Termino:{{curso_ab.fecha_termino}} </div>
          <div>Cant. Horas: {{curso_ab.cant_horas}}</div>
        


        <ol>
                        {% for tema,subtemas in temario %}
                          <li>  
                            {{tema.nombre}}
                            
                            {% for subtema in subtemas %}
                              <ol>
                                <li><a href="/cursos/tema/{{subtema.id}}">{{subtema.nombre}}</a></li>
                              </ol>
                            {%endfor%}
                                  
                          
                          </li> 
                            {% endfor %}
        </ol>


  <div><a href="/cursos/preguntas/{{curso_ab.id}}">Preguntas y Respuestas del Curso</a></div>
  <div><a href="/cursos/form_pre/{{curso_ab.id}}">Preguntar</a></div>
  <div><a href="/cursos/responder/{{curso_ab.id}}">Responder</a></div>


  </div> 


{% endblock contenido %}

