{% extends "base.html" %}
{% block titulo %}
Material
{% endblock titulo %}

{% block encabezado %}
Material por subtema
{% endblock encabezado %}

{% block contenido %}


<div>
           
          

           <ol>
                        {% for matxstema in material %}
                          <li>  
                              <div><a href="/descargar/{{matxstema.archivo_url}}">Archivo URL: {{matxstema.archivo_url}}</a></div>
                              <div><embed src="{{MEDIA_URL}}{{matxstema.archivo_url}}" width="100%" height="100%">VER</div>

                              <div>Titulo: {{matxstema.titulo}}</div>
                              <div>Descripcion: {{matxstema.descripcion}}</div>
                              <div>Tipo: {{matxstema.tipo}}</div>  
                                                      
                          
                          </li> 
                            {% endfor %}
        </ol>

 
  </div> 

{% endblock contenido %}

