{% extends "base3.html" %}

{% block titulo %}
	{{dato.username}}
{% endblock %}

{% block perfil %}
	<section class="perfil">
		<div class="container">
			<div class="row"></div>
			<div class="span2">
				<img src='http://sphotos-c.ak.fbcdn.net/hphotos-ak-prn1/11577_477962595605588_1293720914_n.jpg'>
			</div>
			<div class="info span7">
				<h1>{{dato.first_name|capfirst}} {{dato.last_name|capfirst}}</h1>
				<p>{{dato.email}}</p>
				</div>
			<div class="social span3">
				<a href="http://github.com/{{profesor.git}}" target="blank">git</a>
				<a href="http://www.facebook.com/{{profesor.face}}" target="blank">face</a>		
				<a href="http://www.twitter.com/{{profesor.twitter}}" target="blank">twitter</a>
			</div>	
		</div>
	</section>
	<br>
{% endblock %}

{% block perfil_mas %}
	<div class="row">
	<section class="span6">
        <legend>Cursos que llevo:</legend>

        <div class="lista_cursos">
            {% for matricula in matricula %} 
            <article>
                <img src='{{MEDIA_URL}}{{matricula.curso.protoCurso.archivo_url}}' width="100">
                <div class="informacion_curso">
                    <h3><a href="/cursos/{{protocurso.slug}}/">{{matricula.curso.protoCurso.nombre}}</a></h3>
                    <p>{{matricula.curso.protoCurso.descripcion}}</p>                 
                </div>
                
            </article>
            {% endfor %}
        </div>

	</section>
	
	</div>
{% endblock perfil_mas %}
