body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
	background-color: #fff;
	color: #5A5A5A;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
a, a:hover, a:visited {
	color: white;
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
/* Clases de ayuda */
.derecha {
	float: right;
}
.izquierda {
	float: left;
}
.centrar {
	margin: 0 auto;
}
.sombra_inferior {
	-webkit-box-shadow: 0 6px 8px -8px #000;
	-moz-box-shadow: 0 6px 8px -8px #000;
	box-shadow: 0 6px 8px -8px #000;
}
.raise {
	z-index: 75;
}
/* oferta */
.oferta {
	overflow: hidden;
	display: block;
	background: #91D6D5;
}
.oferta a {
	text-decoration: none;
}
.oferta a > div {
	width: 80%;
	padding: 5px 0;
}
.oferta:hover {
	background: #F9A5A1;
}
.oferta .titulo {
	margin-right: 10px;
	padding: 0 8px;
	background: rgba(0,0,0,0.2);
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 24px;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.oferta .titulo, .oferta .descripcion {
	display: inline-block;
}

/* Logo */
.cabecera {
	background: #111;
}
.cabecera h1{
	text-transform: uppercase;
	font-weight: 700;
	color: white !important;
	margin: 0;
	font-size: 1.5em;
	padding: 5px 0;
}

/* Navegacion */
.cabecera nav {
	font-size: 15px;
	padding: 10px 0;
}
.cabecera ul {
	float: right !important;
}
.cabecera nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 599;
}
.cabecera nav ul li a {
	text-decoration: none;
	z-index: 2;
	padding: 0 15px;
}
.cabecera ul, .cabecera form, .cabecera .x_cerrar {
	display: inline-block;
	vertical-align: top;
}
.x_cerrar {
}
/* Login */
.login {
	background: rgba(255,255,255,0.2);
	border-radius: 4px;
	color: #fff;
	border: none !important;
	padding: 5px;
	opacity: 0.5;
}
.login:hover {
	opacity: 1;
}

/* Fomulario de login */
input {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	display: inline-block;
	color: #555555;
	vertical-align: middle;
}

/* Presentacion */
.presentacion {
	color: white;
	background: #2ba6cb; /*#EE403D #34AADE 	#2E88C9*/
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}
.presentacion .bienvenida {
	padding: 40px 0;
}
.presentacion .bienvenida h2{
	margin: 0 !important;
	padding: 0 !important;
	/*text-shadow: 0 2px 3px #333;*/
	font-size: 44px;
	text-align: center;
	font-weight: 500;
}
.presentacion .bienvenida h4{
	margin: 10px 0 !important;
	padding: 10px 0 20px 0;
	text-align: center;
	font-weight: 100;
	font-size: 17px;
}
.presentacion .bienvenida a{
	float: right;
	margin-right: 50px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
	opacity: 0.5;
	padding: 10px;
}
.presentacion .bienvenida a:hover {
	opacity: 1;
}
.presentacion .bienvenida .flecha {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin: 4px 0 0 8px;
	background-image: url("http://netjelly.com/wp-content/themes/net/img/glyphicons-halflings-white.png");
	background-position: -264px -96px;
}
.presentacion .bienvenida, .presentacion .foto {
	display: inline-block;
	vertical-align: top;
}
.presentacion .foto img {
	width: 100%;
	margin: -10px 20px 20px 20px;
}

/* Informacion General */
.mas_info {
	background: #333;
	min-height: 70px;
	text-align: center;
}
.mas_info p, .mas_info p a {
	color: #fff;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #000;
}
.mas_info img {
	margin-right: 10px;
}

/* Lista de cursos en el inicio */


/* Promocion */
.promocion {
	background-color: #F7EAC3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 -1px 1px #E8D5A2 inset;
	color: #444;
	font-family: proxima-nova,sans-serif;
	text-align: center;
	margin: 30px auto;
	width: 82%;
	overflow: hidden;
}
.promocion h3 {
	padding: 20px;
	margin: 0;
}

/* Footer */
.footer_nav	{
	background: #33A6C9;
	margin-top: 50px;
	min-height: 200px;
}

footer {
	background: #3f3f3f;
	padding: 10px;
	font-size: 14px;
	color: #fff;
}

/* Cursos */

.presentacion .titulo {
	margin: 0 10%;
	width: 80%;
	padding: 20px;
	text-align: center;
}
.presentacion .titulo h2 {
	font-size: 40px;
}

/* Filtros */
.mas_info ul {
	padding: 20px;
}
.mas_info ul li {
	display: inline-block;
	margin-left: 10px;
}
.mas_info ul li a {
	color: #fff;
}

/* Formulario Registrar */

.registrar {
	margin-left: 10%;
	width: 50%;
	padding: 20px;
}
.registrar label {
	width: 50%;
	display: inline-block;
}
.registrar input {
	width: 49%;
}
.registrar .login {
	width: 100%;
	text-align: center;
	font-size: 19px;
	padding: 0;
}

/* Registrar y promocion */
.registrar, .hola {
	display: inline-block;
	vertical-align: top;
}
.hola {
	width: 30%;
	margin: 20px;	
}
.promocion p {
	font-size: 12px;
	margin: 0;
	padding: 5px 20px;
}

.lista_cursos article {
	margin-bottom: 15px;
	background: #f2f2f2;
	border: 1px solid #e6e6e6;
	overflow: hidden;
	/*-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);*/
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;*/
}
.lista_cursos article h3 {
	margin: 10px 0;
}
.cursos a {
	color: black;
}
.lista_cursos p {
	display: block;
}
.fondito {
	overflow: visible !important;
	font-size: 18px;
	position: absolute;
	top: -10px;
	right: -10px;
	background: #37a883;
	color: white;
	border-radius: 4px;
	width: 120px;
	text-align: center;
}

/* Silabus */
.silabus {
}
.silabus h3 {
	margin: 15px 0;
	font-size: 18px;
	color: #302820;
}
.silabus p {
	font-size: 14px;
	line-height: 1.3em;
	color: #504134;
	margin: -0.75em 0 1.25em;
	padding: 0;
}
.silabus ul li ul li {
	position: relative;
	background: #f3f3e9;
	margin-bottom: 1px;
	padding: 15px 20px;
}
.silabus ul li ul li:first-child {
	border-radius: 5px 5px 0 0;
}
.silabus ul li ul li:last-child {
	border-radius: 0px 0px 5px 5px;
}
.silabus h4 {
	margin: 0;
	padding: 0;
}

.detalle_info .img {
	width: 100%;
	border-radius: 6px;
}
.social {
	width: 150px;
	margin: 0 auto;
}
.share {
	opacity: 0.6;
}
.share:hover {
	opacity: 1;
}
li .icon {
	background-size: cover;
	float: left;
	height: 19px;
	margin: 2px 10px 0 0;
	opacity: 0.6;
	width: 19px;
}
.detalle_info ul:hover li .icon {
	opacity: 1;
}
li .icon.start {
	background-image: url("https://www.edx.org/static/images/portal-icons/calendar-icon.7efd89b95ce5.png");
}
li .icon.end {	
	background-image: url("https://www.edx.org/static/images/portal-icons/calendar-icon.7efd89b95ce5.png");
}
li .icon.effort {	
	background-image: url("https://www.edx.org/static/images/portal-icons/pencil-icon.ac041b75a530.png");
}
li .icon.prereq {
	background-image: url("https://www.edx.org/static/images/portal-icons/prerec-icon.fc881726469c.png");
}
.detalle_info ul li {
	width: 100%;
}
.detalle_info ul li .icon, .detalle_info ul li p, .detalle_info ul li span {
	display: inline-block;
	vertical-align: top;
}
.detalle_info ul li span {
	float: right;
}

/* Perfil */
.perfil {
	border: 1px solid #d2d2d2;
	background-color: #f5f5f5;
}
.perfil > div {
	padding: 20px 0;
}
.perfil img {
	width: 100%;
}
@media (min-width:480px) and (max-width:767px) {
	.tablet_img {
		width: 40%;
	}
	.tablet_info {
		width: 58%;
	}
	.tablet_img, .tablet_info {
		display: inline-block;
		vertical-align: top;
	}
	.row{
		margin:0 0 2em 4em;
	}
}
.foto2{
	width: 10em;
	height: 10em;
	position: relative;
	top:2em;
}
.ordenar{
	background: #000;
	margin: 1em 1em 1em 1em;
	width: 100%;
	display: inline-block;
	color:#fff;
}
.ordenar_uno{
	
	display: inline-block;
	width: 33em;


}
.ordenararriba{
	display: inline-block;


}
.ordenar_dos{
	
	width: 33em;
}
.ordenar1{
	display: inline-block;

}
.color{
	background: #000;
}

@media (max-width:767px){
	.presentacion, .mas_info, footer, .cabecera, .footer_nav {
		margin: 0 -20px 0 -20px;
		padding: 0 20px 0 20px;
	}
	.lista_cursos .span2 {
		width: 25% !important;
		overflow: hidden;
	}
	.lista_cursos .span2 img {
		vertical-align: middle;
	}
	.lista_cursos .span4 {
		width: 65% !important;
		margin-left: 5%;
	}
	.span2, .span4 {
		display: inline-block !important;
		vertical-align: top;
	}
	.lista_cursos article img{
		width: 100%;
	}
	.row {
		margin: 0 0 0 0;
	}
}
@media (min-width:768px){
	.cursos_todos {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		min-height: 145px;
		margin-left: 1% !important;
	}
	.lista_cursos .span2 {
		overflow: hidden;
	}
	.lista_cursos .span4 {
		margin-left: 10px;
	}
	.lista_cursos article img{
		width: 100%;
	}
	.posicionar{
		margin: 0 0 0 6em;
	}
	.inscribete {
		margin-top: -5px;
	}
}
/*circulos para las imagenes*/
.circle{
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
	box-shadow: 0em 0em 1em #ccc;
	width: 140px;
	min-height: 140px;
}

/*Inscribete*/
.inscribete {
	background: #2ba6cb;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	padding: 10px;
	color: white;
	opacity: 0.8;
	min-height: 30px;
	overflow: hidden;
	font-size: 18px;
}
.inscribete:hover {
	background: #2284a1;
	opacity: 1;
}

/* Temas */
.units a {
	color: black;
}

/* Errores */
.errorlist {
	color: red;
}

@media (max-width: 479px) {
	.tablet_img {
		width: 75%;
		margin: 0 auto;
	}
	.texto{
		width: 222px;
	}
	.row{
		margin: 0;
	}
	.lista_cursos .span2 {
		width: 100% !important;
		margin-left: 0;
	}
	.lista_cursos .span2 img {
		width: 100%;
	}
	.lista_cursos .span4 {
		width: 100% !important;
		margin-left: 0;
	}
	.inscribete {
		display: block !important;
		margin: 10px 0;
	}
	.lista_cursos article {
		margin-bottom: 15px;
		background: none !important;
		border: 0;
		overflow: hidden;
	}
}