body {
	/*font-family: 'Open Sans';*/
	font-family: "source-sans-pro";
	background-color: #fff;
	color: #5A5A5A;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	margin: 0;
	padding: 0;
}
a, a:hover, a:visited {
	color: black;
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
/* Clases de ayuda */
.derecha {
	float: right;
}
.izquierda {
	float: left;
}
.centrar {
	margin: 0 auto;
}
.inferior {
	height: 5px;
	z-index: 9999;
	display: block;
	background: transparent url(http://static.colourlovers.com/images/v4.0/_/misc/10-black.png) repeat scroll 0 0;
}
.sombra_inferior {
	-webkit-box-shadow: 0 6px 8px -8px #000;
	-moz-box-shadow: 0 6px 8px -8px #000;
	box-shadow: 0 6px 8px -8px #000;
}
.raise {
	z-index: 75;
}
/* oferta */
.oferta {
	overflow: hidden;
	display: block;
	background: #91D6D5;
}
.oferta a {
	color: #FFF;
	text-decoration: none;
}
.oferta a > div {
	width: 80%;
	padding: 5px 0;
}
.oferta:hover {
	background: #F9A5A1;
}
.oferta .titulo {
	margin-right: 10px;
	padding: 0 8px;
	background: rgba(0,0,0,0.2);
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 24px;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.oferta .titulo, .oferta .descripcion {
	display: inline-block;
}

/* Logo */
.cabecera {
	overflow: hidden;
	z-index: 100;
}
.cabecera h1 {
	float: left;
	text-shadow: 0 3px 5px #ccc;
	font-family: "Asap","Droid Sans","Open Sans";
	text-transform: uppercase;
	font-weight: 700;
}

/* Navegacion */
.cabecera nav {
	font-size: 18px;
	padding: 20px 0;
}
.cabecera ul {
	float: right !important;
}
.cabecera nav ul li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 599;
}
.cabecera nav ul li a {
	text-decoration: none;
	color: #555;
	z-index: 2;
	padding: 0 15px;
}
.cabecera ul, .cabecera form, .cabecera .x_cerrar {
	display: inline-block;
	vertical-align: top;
}
.x_cerrar {
	margin-top: 10px;
	padding: 5px;
}
/* Login */
.login {
	height: 30px;
	background-color: #91D6D5;
	border-radius: 4px;
	color: #fff;
	border: none !important;
}
.login a {
	color: #fff !important;
}
.login a:hover {
	color: #000 !important;
}

/* Fomulario de login */
input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	display: inline-block;
	height: 30px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Presentacion */
.presentacion {
	color: white;
	background: #EE403D; /*#34AADE 	#2E88C9*/
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	overflow: hidden;
}
.presentacion .bienvenida {
	padding: 40px 0;
}
.presentacion .bienvenida h2{
	margin: 0 !important;
	padding: 0 !important;
	/*text-shadow: 0 2px 3px #333;*/
	font-family: "Asap","Droid Sans","Open Sans";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3em;
	line-height: 55px;
	text-align: center;
}
.presentacion .bienvenida p{
	margin: 10px 0 !important;
	padding: 10px 0 20px 0;
	text-shadow: 0 1px 1px #333;
	text-align: center;
}
.presentacion .bienvenida a{
	width: 210px;
	float: right;
	margin-right: 50px;
	padding-top: 10px;
	background: rgba(0,0,0,0.2);
	letter-spacing: 1px;
	line-height: 24px;
	text-rendering: optimizeLegibility;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	opacity: 0.5;
	text-align: center;
}
.presentacion .bienvenida a:hover {
	opacity: 1;
}
.presentacion .bienvenida .flecha {
	display: inline-block;
	vertical-align: text-top;
	background-repeat: no-repeat;
	width: 14px;
	height: 14px;
	margin: 4px 0 0 8px;
	background-image: url("http://netjelly.com/wp-content/themes/net/img/glyphicons-halflings-white.png");
	background-position: -264px -96px;
}
.presentacion .bienvenida, .presentacion .foto {
	display: inline-block;
	vertical-align: top;
}
.presentacion .foto img {
	width: 100%;
	margin: -30px 20px 20px 20px;
}

/* Informacion General */
.mas_info {
	background: #333;
	min-height: 70px;
	text-align: center;
}
.mas_info p, .mas_info p a {
	color: #fff;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #000;
}
.mas_info img {
	margin-right: 10px;
}

/* Lista de cursos en el inicio */


/* Promocion */
.promocion {
	background-color: #F7EAC3;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 -1px 1px #E8D5A2 inset;
	color: #444;
	font-family: proxima-nova,sans-serif;
	text-align: center;
	margin: 30px auto;
	width: 82%;
	overflow: hidden;
}
.promocion h3 {
	padding: 20px;
	margin: 0;
}

/* Footer */
footer {
	margin-top: 50px;
	background: #313131;
}
footer .contenedor {
	width: 82%;
	margin: 0 auto;
	min-height: 65px;
}
footer .codeweb, footer .qaysen {
	display: inline-block;
}
footer .qaysen {
	font-size: 20px;
	font-family: "Asap","Droid Sans","Open Sans";
	padding: 20px;
	color: #fff;
}
footer .codeweb {
	font-size: 20px;
	font-family: "Asap","Droid Sans","Open Sans";
	padding: 20px;
	color: #fff;
}

/* Cursos */

.presentacion .titulo {
	margin: 0 10%;
	width: 80%;
	padding: 20px;
	text-align: center;
}
.presentacion .titulo h2 {
	font-size: 40px;
}

/* Filtros */
.mas_info ul {
	padding: 20px;
}
.mas_info ul li {
	display: inline-block;
	margin-left: 10px;
}
.mas_info ul li a {
	color: #fff;
}

/* Formulario Registrar */

.registrar {
	margin-left: 10%;
	width: 50%;
	padding: 20px;
}
.registrar label {
	width: 50%;
	display: inline-block;
}
.registrar input {
	width: 49%;
}
.registrar .login {
	width: 100%;
	text-align: center;
	font-size: 19px;
	padding: 0;
}

/* Registrar y promocion */
.registrar, .hola {
	display: inline-block;
	vertical-align: top;
}
.hola {
	width: 30%;
	margin: 20px;	
}
.promocion p {
	font-size: 12px;
	margin: 0;
	padding: 5px 20px;
}

/* Cursos general */

.filtros {
	width: 20%;
	margin-right: 30px;
}
.filtros ul li {
	padding-left: 20px;
}
.filtros input {
	margin: 0;
	padding: 0;
}
.filtros, .lista_cursos {
	display: inline-block;
	vertical-align: top;
}

.lista_cursos article {
	margin: 10px 0px;
	border: 1px solid #ccc;
	padding: 10px 0;
	overflow: hidden;
	position: relative;
	z-index: 1;
	background: #fcfcfc;
	border: 1px solid #c8c8c8;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.lista_cursos h3 {
	margin: 0;
	padding: 0;
}
.lista_cursos p {
	display: block;
}
.fondito {
	overflow: visible !important;
	font-size: 18px;
	position: absolute;
	top: -10px;
	right: -10px;
	background: #37a883;
	color: white;
	border-radius: 4px;
	width: 120px;
	text-align: center;
}

/* Silabus */
.silabus {
}
.silabus h3 {
	font-size: 18px;
	color: #302820;
}
.silabus p {
	font-size: 14px;
	line-height: 1.3em;
	color: #504134;
	margin: -0.75em 0 1.25em;
	padding: 0;
}
.silabus ul li ul li {
	position: relative;
	background: #f3f3e9;
	margin-bottom: 1px;
	padding: 15px 20px;
}
.silabus ul li ul li:first-child {
	border-radius: 5px 5px 0 0;
}
.silabus ul li ul li:last-child {
	border-radius: 0px 0px 5px 5px;
}
.silabus h4 {
	margin: 0;
	padding: 0;
}

.detalle_info .img {
	width: 100%;
	border-radius: 6px;
}
.social {
	width: 150px;
	margin: 0 auto;
}
.share {
	opacity: 0.6;
}
.share:hover {
	opacity: 1;
}
li .icon {
	background-size: cover;
	float: left;
	height: 19px;
	margin: 2px 10px 0 0;
	opacity: 0.6;
	width: 19px;
}
.detalle_info ul:hover li .icon {
	opacity: 1;
}
li .icon.start {
	background-image: url("https://www.edx.org/static/images/portal-icons/calendar-icon.7efd89b95ce5.png");
}
li .icon.end {	
	background-image: url("https://www.edx.org/static/images/portal-icons/calendar-icon.7efd89b95ce5.png");
}
li .icon.effort {	
	background-image: url("https://www.edx.org/static/images/portal-icons/pencil-icon.ac041b75a530.png");
}
li .icon.prereq {
	background-image: url("https://www.edx.org/static/images/portal-icons/prerec-icon.fc881726469c.png");
}
.detalle_info ul li {
	width: 100%;
}
.detalle_info ul li .icon, .detalle_info ul li p, .detalle_info ul li span {
	display: inline-block;
	vertical-align: top;
}
.detalle_info ul li span {
	float: right;
}

/* Perfil */
.perfil {
	border: 1px solid #d2d2d2;
	background-color: #f5f5f5;
}
.perfil > div {
	padding: 20px 0;
}
.perfil img {
	width: 100%;
}
@media (max-width: 479px) {
	.tablet_img {
		width: 75%;
		margin: 0 auto;
	}
	.texto{
		width: 222px;
	}
	.row{
		margin: 0 0 1em 2em;
	}
}
@media (min-width:480px) and (max-width:767px) {
	.tablet_img {
		width: 40%;
	}
	.tablet_info {
		width: 58%;
	}
	.tablet_img, .tablet_info {
		display: inline-block;
		vertical-align: top;
	}
	.row{
		margin:0 0 2em 4em;
	}

}
<<<<<<< HEAD
.foto2{
	width: 10em;
	height: 10em;
	position: relative;
	top:2em;
}
.ordenar{
	background: #000;
	margin: 1em 1em 1em 1em;
	width: 100%;
	display: inline-block;
	color:#fff;
}
.ordenar_uno{
	
	display: inline-block;
	width: 33em;


}
.ordenararriba{
	display: inline-block;


}
.ordenar_dos{
	
	width: 33em;
}
.ordenar1{
	display: inline-block;

}
.color{
	background: #000;
}

@media (max-width:767px){
	.presentacion, .mas_info, footer {
		margin: 0 -20px 0 -20px;
		padding: 0 20px 0 20px;
	}
	.lista_cursos .span2 {
		width: 25% !important;
		margin-left: 2%;
	}
	.lista_cursos .span4 {
		width: 65% !important;
		margin-left: 5%;
	}
	.span2, .span4 {
		display: inline-block !important;
		vertical-align: top;
	}
	.lista_cursos article img{
		width: 100%;
	}
	
}
@media (min-width:768px){
	.cursos_todos {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		min-height: 145px;
		margin-left: 1% !important;
	}
	.lista_cursos .span2 {
		margin: 0 0 0 2% !important;
	}
	.lista_cursos .span4 {
		margin: 0 0 0 -10% !important;
	}
	.lista_cursos article img{
		width: 50%;
	}
	.posicionar{
		margin: 0 0 0 6em;
	}

}
/*circulos para las imagenes*/
.circle{
	-moz-border-radius: 500px;
	-webkit-border-radius: 500px;
	-o-border-radius: 500px;
	border-radius: 500px;
	box-shadow: 0em 0em 1em #77ADEB;
}